body * {
    -webkit-transition: 0s !important; /* For Safari 3.1 to 6.0 */
    transition: 0s !important;
}

#home-page a {
    vertical-align: top;
}
#home-page a span {
    padding-top: 2px;
    display: inline-block;
}
#home-page a span span {
    background: url("../images/icons-png/arrow-r-black.png") no-repeat;
    display: inline-block;
    width: 22px;
    height: 22px;
}
.main-menu a, .main-menu a:visited, .main-menu a:hover {
    color: #555;
    text-decoration: none;
}
.header {
    height: 37px;
}
.home-button {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 37px;
}


/* vessel-time-table */
#vessel-time-table tr {
    border-top: 1px solid #777777;
}
/* ./ vessel-time-table */